<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Usuarios</h3>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Foto</th>
                            <th>Nombre</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let usuario of usuarios">
                            <td><img [src]="usuario.img | imagen" style="width: 50px" class="img-rounded img-fluid" /></td>
                            <td>{{ usuario.nombre }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Médicos</h3>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Foto</th>
                            <th>Nombre</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let medico of medicos">
                            <td><img [src]="medico.img | imagen:'medico'" style="width: 50px" class="img-rounded img-fluid" /></td>
                            <td>{{ medico.nombre }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Hospitales</h3>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Foto</th>
                            <th>Nombre</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let hospital of hospitales">
                            <td><img [src]="hospital.img | imagen:'hospital'" style="width: 50px" class="img-rounded img-fluid" /></td>
                            <td>{{ hospital.nombre }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>