<app-buscador-component [cargando]="cargando" (digitaLetra)="buscarUsuarios( $event )"></app-buscador-component>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h3> Usuarios registrados ( <small>{{ totalRegistros }}</small> ) </h3>
                <button (click)="agregar( item )" data-toggle="tooltip" title="Agregar usuario" data-placement="top" class="btn btn-info btn-sm" style="float: right;margin-bottom: 5px;" type="button"><i class="fa fa-plus"></i> Agregar usuario</button>
                <table class="table color-table table-bordered info-table" [mfData]="usuarios" #mf="mfDataTable" [mfRowsOnPage]="5">
                    <thead>
                        <tr>
                            <th>
                                <mfDefaultSorter by="nombres">Nombres</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="aellidos">Apellidos</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="email">Correo</mfDefaultSorter>
                            </th>
                            <th style="width: 120px"></th>
                        </tr>
                    </thead>
                    <tbody style="font-size: 15px;">
                        <tr *ngFor="let item of mf.data">
                            <td>{{item.firstName}}</td>
                            <td>{{item.lastName}}</td>
                            <td>{{item.email}}</td>
                            <td>
                                <button (click)="modificar( item )" data-toggle="tooltip" title="Modificar" data-placement="top" class="btn btn-info btn-sm btn-rounded" style="margin-top: 2.5px" type="button"><i class="fa fa-pencil"></i></button>
                                <button (click)="borrarUsuario( item )" data-toggle="tooltip" title="Modificar" data-placement="top" class="btn btn-danger btn-sm btn-rounded" style="margin-top: 2.5px" type="button"><i class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="7">
                                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                            </td>
                        </tr>
                    </tfoot>
                </table>

            </div>
        </div>
    </div>
</div>

<div id="modal-usuarios" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Catálogo</h4>
                <button type="button" class="btn btn-danger btn-circle" data-dismiss="modal" aria-hidden="true"><i class="fa fa-close fa-1x"></i></button>
            </div>
            <div class="modal-body">
                <form ngNativeValidate #f="ngForm" (ngSubmit)="guardar( f.value )">

                    <div class="form-group">
                        <label for="nombre" class="control-label">Nombres</label>
                        <input name="firstName" [(ngModel)]="usuario.firstName" type="text" class="form-control" id="nombre" required>
                    </div>
                    <div class="form-group">
                        <label for="apellido" class="control-label">Apellidos</label>
                        <input name="lastName" [(ngModel)]="usuario.lastName" type="text" class="form-control" id="apellido" required>
                    </div>
                    <div class="form-group">
                        <label for="email" class="control-label">Email</label>
                        <input name="email" [(ngModel)]="usuario.email" type="email" class="form-control" id="email" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-success waves-effect waves-light">Guardar</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>